body {
    width: 100%;
    max-width: 1300px;
    height: 100%;

    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    margin: 0 auto;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 1280px;
    margin: 20px -20px;
    padding: 0 50px;

}



    /* Header */
.header {
    width: 100%;
    max-width: 1280px;
    position: fixed;
    height: 8vh;
    top: -20px;
    z-index: 1000;
    box-shadow: 0px 14px 12px -5px rgba(34, 60, 80, 0.2);
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header.active {
    background-color: #e5e5e5;
}


.header__inner {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}


.header__logo {
    margin-right: 100px;
}


.header__logo1 {
    color: #252A34;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header__logo2 {
    color: #FF2E63;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header__navi {
    margin-right: 30px;
    
}

.header__nav {
    text-decoration: none;
    color: #252A34;

    font-family: Open Sans, sans-serif;;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
    position: relative;



}

.header__nav:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FF2E63;

    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.header__nav:hover {
    color: #FF2E63 ;
}

.header__nav:hover:after {
    opacity: 1;
}


.nav-toggle {
    width: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    padding: 20px 0;
    cursor: pointer;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;


}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}


.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    z-index: 1;

    background-color: black;
    transition: transform .2s   linear;

}

.nav-toggle__item:before {
    top: -8px;

}

.nav-toggle__item:after {
    bottom: -8px;
}


.header__button {
    cursor: pointer;

}

.button__login {
    color: #FF2E63;

    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    background-color: white;
    border: 0;
    cursor: pointer;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}

.button__register {
    color: #FFF;

    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 5px;
    background: #FF2E63;
    width: 100px;
    height: 35px;
    flex-shrink: 0;
    border: 0;
    cursor: pointer;
}

/* banner */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin-top: 60px;
}

.bannero {
    margin-top: 70px;
}




.banner__text {
    color: #343434;

    font-family: Rajdhani, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 50px;
}



.banner__text2 {
    color: #FF2E63;
}

.button__enter {
    color: #FFF;

    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    border-radius: 5px;
    background: #346CD9;

    width: 120px;
    height: 40px;
    flex-shrink: 0;
    border: 0;
    cursor: pointer;
}

.elipce {
    width: 100%;
    min-width: 350px;
    height: 350px;
    flex-shrink: 0;

    position: relative;
    left: -100px;
    z-index: 0;
    border-radius: 400px;
    border: 1px solid #000;

    background: linear-gradient(131deg, rgba(52, 108, 217, 0.00) 13.96%, rgba(52, 108, 217, 0.25) 85.97%);

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.banner__img {
    position: absolute;
    margin: 50px 0 0 -350px;
    z-index: 1;
    width: 100%;
    max-width: 700px;
}

.banner__item2 {
    margin-left: -30px;
}


/* competitions */

.latest {
    color: #343434;

    font-family: Rajdhani, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/* Cards */

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin-bottom: 30px;

}
.cards__item {
    height: 280px;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    margin-right: 30px;

    border-radius: 10px;
    background: #FFF;

    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);

}

.cards__item:last-child {
    margin-right: 0;
}


.card__block1 {
    display: flex;
    margin-right: 30px;
}

.card__block1:first-child {
    margin-bottom: 50px;
}


.cards__img {
    border-radius: 10px 10px 0 0;
    background: lightgray 0 -170.596px / 100% 253.125% no-repeat;


}

.cards__text1 {
    margin-top: 15px;
    margin-left: 20px;
    color: #252A34;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.cards__price {
    color: #FF2E63;

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 170px;
}

.cards__text2 {
    color: #343434;

    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 100px;

}

.arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 10px 0;
    background: #346CD9;
    padding: 8px 0 0 12px;
}

.arrowright {
    font-size: 19px;
    color: white;
}


/* How works */

.works {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin-bottom: 50px;
}

.works__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 250px;
    position: relative;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
    margin-right: 42px;

}

.how__works {

    color: #343434;

    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 55px;

    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
}


.how__item1 {
    display: flex;
    margin-right: -15px;
}


.works__text {
    color: #343434;

    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.works__img {
    margin-bottom: 30px;
    width: 64px;

}

.arrow__works {
    position: absolute;
    top: 15px;
    right: -45px;
    font-size: 30px;
    color: #585858;

}

/* Reviews */

.reviews {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    position: relative;
    height: 400px;

}

.reviews__item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    max-width: 640px;
    height: 400px;
    background: rgba(52, 108, 217, 0.12);

}

/*.reviews__item2 {*/
/*    width: 50%;*/
/*    max-width: 640px;*/
/*}*/


.reviews__text {
    color: #343434;
    width: 400px;
    /*margin-left: 120px;*/
    margin-top: 80px;
    margin-bottom: 30px;

    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.reviews__name {
    color: #343434;

    width: 400px;
    /*margin-left: 120px;*/

    text-align: center;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 187%;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.reviews__photo {
    width: 100%;
    max-width: 640px;
    height: 400px;

}


.dots {
    display: flex;
    justify-content: space-between;
    width: 60px;
    /*margin-left: 110px;*/


}

.reviews__dots {
    background: #FF2E6354;
    clip-path: circle(50%);
    height: 10px;
    width: 10px;
}

.reviews__dots:hover {
    background: #FF2E63;
}

.reviews__dots:hover:after {
    opacity: 1;
}

:root {
    --transition-delay: 0.5s;
}

.slider-button {
    cursor: pointer;
    display: block;
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 40%;
    z-index: 1;
    transform: translateY(-50%);
    border: 0;
    background: none;
}

.slider-button:focus {
    outline: 0;
}

.slider-button:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;

}

.slider-button-next {
    right: 20px;
    transform: rotate(135deg);
}

.slider-button-prev {
    left: 20px;
    transform: rotate(-45deg);
}



ul.slides {
    list-style-type: none;
    height: 100%;
    max-height: 320px;
    width: 100%;
    max-width: 1200px;
}

li.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-height: 320px;
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    opacity: 0;
    transition: opacity var(--transition-delay);
    transition-delay: var(--transition-delay);
}

.slide > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

li.slide[data-active-slide] {
    opacity: 1;
}

.slides-circles {
    display: flex;
    position: absolute;
    bottom: 6rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.slides-circles > div {
    height: 15px;
    width: 15px;
    margin: 8px;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color var(--transition-delay);
    transition-delay: var(--transition-delay);
}

.slides-circles > div[data-active-slide] {
    background-color: white;
}



/* Winners */

.winners {
    margin-top: 50px;
}

.winners__text1 {
    color: #252A34;
    margin-top: 15px;
    margin-left: 20px;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.latest__winners {
    color: #343434;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.winners__date {
    color: #343434;

    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: 20px;
}

/* footer */


.footer {
    background: #346CD9;
    height: 70px;
}


.fotoorist {
    /*width: 100%;*/
    /*max-width: 1280px;*/
}

.footer__logo {
    margin-top: 20px;

}

.footer__logo1 {
    color: #FFF;

    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


.fotoorist {
    display: flex;
    justify-content: space-between;
}

.footer__navi {
    margin-right: 25px;

}

.footer__nav {
    color: #FFF;

    text-decoration: none;

    font-family: Open Sans, sans-serif;;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}


@media (max-width: 990px) {

}





@media (max-width: 770px) {

    .header {
        justify-content: flex-start;
    }

    .header__inner {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;

        background-color: white;
    }

    .header__inner.active {
        display: block;
        box-shadow: 0px 14px 12px -5px rgba(34, 60, 80, 0.2);
    }



    .header__nav {
        padding: 15px 40px;

    }


    .nav-toggle {
        display: block;
    }

    .footer__inner {
        display: none;
    }

    .reviews {
        flex-wrap: wrap;
    }

    .reviews__item1 {
        width: 100%;
    }
    .container {
        width: 100%;
        max-width: 1280px;
    }

    .banner__item2 {
        display: none;
    }

    .cards {
        flex-wrap: wrap;
        display: block;
    }

    .cards__item {
        /*width: 100%;*/
        max-width: 270px;
        margin-bottom: 20px;
    }

    .works {
        flex-wrap: wrap;
        display: block;
        margin-bottom: 130px;
    }

    .works__item {
        width: 100%;
        max-width: 250px;
        margin-bottom: 30px;
    }

    .works__item:last-child {
        .arrow__works {
            display: none;
        }
    }

    .how__works {
        text-align: inherit;
    }

    .reviews__photo {
        height: 100%;

    }
    .reviews__item1 {
        height: 100%;

    }
    .dots {
        padding-bottom: 30px;
    }

    .header__button {

    }

    .button__register {
        width: 90px;
        height: 30px;
    }

    .button__login {
        width: 90px;
        height: 30px;
    }


}





@media (max-width: 575px) {

    .card__block1 {
        flex-wrap: wrap;
    }
    .how__item1 {
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .works {
        margin-bottom: 50px;
    }



    .arrow__works {
        display: none;
    }

    .banner__text {
        font-size: 43px;
    }

    .latest {
        font-size: 30px;
    }

    .how__works {
        font-size: 30px;
    }

    .latest__winners {

        font-size: 30px;

    }

    .header__button {
        display: none;
    }


    .reviews__text {
        font-size: 15px;
        width: 100%;
    }

    /*.works__item {*/
    /*    width: 100%;*/
    /*    max-width: 250px;*/
    /*    margin-bottom: 30px;*/
    /*}*/
    /*.how__item1 {*/
    /*    width: 100%;*/
    /*    max-width: 603px;*/
    /*}*/

}

@media (max-width: 443px) {
    /*.banner__text {*/
    /*    font-size: 35px;*/
    /*}*/
}

@media (max-width: 375px) {

    .cards__item {
        width: initial;
    }

}